# Dependencies
node_modules/

# .NET build
**/bin/
**/obj/

# Environment and Logs
.env
*.log

# OS files
.DS_Store
Thumbs.db

# Build artifacts (Note the leading slashes to prevent deep-ignoring)
/target/
/dist/
*.jar

# IDEs
.idea/
.vscode/

# Unit test reports
TEST*.xml

# Executables
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

/*.sln.DotSettings.user
